on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/cache
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    exec /system/bin/factoryreset
    exec /system/bin/factoryreset_keep_media
    
    write /sys/kernel/boot_adsp/boot 1

on property:dev.bootcomplete=1
    start fota-trigger
