# Copyright (c) 2013 Sony Mobile Communications AB.

import init.sony.usb.rc

on init
    mkdir /tmp
    mount tmpfs tmpfs /tmp nosuid mode=0755,uid=0,gid=0
    chmod 0664 /proc/rdtag
    chown root system /proc/rdtag

on post-fs-data
    exec /system/bin/rm -r /data/lost+found
    mkdir /data/lost+found 0770 root root

    exec /system/bin/rm -r /cache/lost+found
    mkdir /cache/lost+found 0770 root root

    exec /system/bin/rm -r /mnt/idd/lost+found
    mkdir /mnt/idd/lost+found 0770 root root

on boot
    # Configurate TCP/IP kernel settings
    exec /system/bin/sh /system/etc/init.netconfig.sh
    # Configure coredumps
